<form #cc [formGroup]="form" (ngSubmit)="save()" id="company-form" class="bg-white rounded-2xl shadow-lg p-6">
   <div
      class="sticky top-0 right-0 left-full w-[7.5rem] z-50 justify-end text-slate-100 rounded-2xl flex gap-x-2 group">
      <div *ngIf="router.url.includes('detail')" type="button" class="btn-del" (click)="delete()">
         <mat-icon>delete</mat-icon>
      </div>
      <button type="submit" class="btn-1">
         <mat-icon>{{router.url.includes('detail') ? 'edit' : 'post_add'}}</mat-icon>
      </button>
      <div [matMenuTriggerFor]="addLang" class="btn-2">
         <mat-icon>translate</mat-icon>
      </div>

      <mat-menu #addLang="matMenu">
         <button class="text-slate-900 disabled:text-slate-500" mat-menu-item
            *ngFor="let lang of available_langs; let i = index" [disabled]="lang.id == tabs[i]?.id"
            (click)="lang.id == tabs[i]?.id ? '' : master.add_lang_tab(tabs, lang, form)">
            <span class="ml-2" [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.emoji}}</span>
            <span class="ml-2" [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.name}}</span>
         </button>
      </mat-menu>
   </div>

   <mat-tab-group>
      <mat-tab *ngFor="let tab of tabs; let i = index">
         <ng-template mat-tab-label class="w-full flex gap-x-2">
            <span>{{tab?.emoji}}</span>
            <span class="ml-2">{{tab?.name}}</span>
            <mat-icon class="ml-4" (click)="master.del_lang_tab(tabs, tab.id, form, i)"
               *ngIf="this.tabs.length > 1 && i !== 0 && tab.id !== 1">close</mat-icon>
         </ng-template>

         <div class="flex flex-col gap-y-6 overflow-x-hidden">

            <div
               [ngClass]="cc.offsetWidth <= 640 ? 'grid-cols-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'grid-cols-2' : 'grid-cols-3'"
               class="grid gap-x-6 w-full">

               <div class="title w-full"
                  [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                  Información del evento
               </div>
               <div
                  [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                  class="grow" formArrayName="title">
                  <div *ngFor="let item of master.getterA(form.controls['title']).controls; let i = index"
                     [formGroupName]="i">
                     <mat-form-field class="w-full" appearance="outline" *ngIf="item.value.languages_id == tab.id">
                        <mat-label>Título</mat-label>
                        <input formControlName="text" type="text" matInput>
                        <mat-error>Ingresa un valor válido</mat-error>
                     </mat-form-field>
                  </div>
               </div>

               <div (click)="uploadPDF(form.get('image_url'))" class="file-field" *ngIf="i == 0"
                  [ngClass]="form.controls['image_url'].invalid && save_button ? 'field-error' : ''">
                  <mat-icon *ngIf="!form.value.image_url" class="text-[rgba(0,0,0,.54)]">upload_file</mat-icon>
                  <img *ngIf="form.value.image_url" [src]="form.value.image_url" alt=""
                     class="h-8 rounded-lg aspect-square grow-0 object-contain">
                  <div class="absolute left-11" [ngClass]="form.value.image_url ? 'top-0 text-xs' : ''">
                     Portada
                  </div>
                  <div class="max-w-[12rem] overflow-hidden whitespace-nowrap">
                     {{form.value.image_url ?? ''}}
                  </div>
               </div>

               <search-select [label]="'Privacidad'" [select]="sel['event_privacy']" [rq]="true" *ngIf="i == 0"
                  [control]="form.controls['event_privacy']" class="w-full"></search-select>

               <search-select [label]="'Tipo de evento'" [select]="sel['event_type']" [rq]="true" *ngIf="i == 0"
                  [control]="form.controls['event_type']" class="w-full"></search-select>

               <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0 && form.value.event_type">
                  <mat-label>{{form.value.event_type == 0 ? 'Ubicación' : 'Enlace' }}</mat-label>
                  <input formControlName="url" type="text" matInput>
                  <mat-error>Ingresa un valor válido</mat-error>
               </mat-form-field>

               <div class="flex gap-x-3" *ngIf="i == 0">
                  <mat-form-field appearance="outline" class="w-full duration-300"
                     [ngClass]="form.value.cost == 0 ? 'max-w-full' : 'max-w-[50%]'">
                     <mat-label>Costo</mat-label>
                     <input formControlName="cost" type="text" matInput>
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <search-select [label]="'Moneda'" [select]="sel['coin']" [rq]="true" [control]="form.controls['coin']"
                     class="w-full max-w-[calc(50%-0.75rem)] duration-300"
                     [ngClass]="form.value.cost == 0 ? 'hidden' : ''"></search-select>
               </div>

               <mat-form-field appearance="outline" class="basis-64 grow" *ngIf="i == 0">
                  <mat-label>Fechas del evento</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                     <input matStartDate formControlName="start_date" placeholder="Start date">
                     <input matEndDate formControlName="end_date" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>

                  <mat-error>Ingresa un valor válido</mat-error>

               </mat-form-field>

               <search-select [label]="'Empresa'" [select]="sel['companies']" *ngIf="i == 0"
                  [control]="form.controls['profile_company_id']" class="w-full"></search-select>

               <mat-form-field appearance="outline" *ngIf="i == 0">
                  <mat-label>Organizador</mat-label>
                  <input formControlName="organizer" type="text" matInput>
                  <mat-error>Ingresa un valor válido</mat-error>
               </mat-form-field>

               <div *ngIf="i == 0" class="flex gap-x-6 w-full"
                  [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                  <recursive-select [select]="sel['category_events']" label="Categoría"
                     class="w-full flex basis-1/3 gap-x-6" [control]="form.controls['category']" [rq]="true"
                     [generation]="0" [value]="form.value.categories"
                     (categorySelected)="onCategorySelected($event)"></recursive-select>
               </div>

               <div *ngIf="i == 0"
                  [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                  <div class="flex flex-col mb-6 file-field !justify-start">
                     <mat-radio-group formControlName="form" class="flex gap-x-3">
                        <mat-radio-button #external class="!text-slate-800" [value]="1"
                           [checked]="form.value.url_form != null">Formulario de registro externo</mat-radio-button>
                        <mat-radio-button class="!text-slate-800" [value]="2"
                           [checked]="form.value.url_form == null">Formulario de registro B2B</mat-radio-button>
                     </mat-radio-group>
                  </div>
                  <mat-form-field *ngIf="form.value.form == 1 || external.checked" appearance="outline" class="w-full">
                     <mat-label>Enlace a formulario</mat-label>
                     <input formControlName="url_form" type="text" matInput>
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
               </div>

               <div class="mb-6"
                  [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                  <div formArrayName="description"
                     *ngFor="let item of master.getterA(form.controls['description']).controls; let i = index;">
                     <div [formGroupName]="i">
                        <quill-editor *ngIf="item.value.languages_id == tab.id" formControlName="text"></quill-editor>
                     </div>
                  </div>
               </div>

               <!--                <mat-form-field appearance="outline" *ngIf="router.url.includes('detail')" [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                  <mat-label>Resumen</mat-label>
                  <textarea matInput formControlName="event_summary"></textarea>
                  <mat-error>Ingresa un valor válido.</mat-error>
               </mat-form-field> -->

               <div
                  [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                  class="grow" formArrayName="event_summary" *ngIf="router.url.includes('detail')">
                  <div *ngFor="let item of master.getterA(form.controls['event_summary'])?.controls; let i = index"
                     [formGroupName]="i">
                     <mat-form-field class="w-full" appearance="outline"
                        *ngIf="item.value.languages_id == tab.id || stringify('event_summary') == '[{}]'">
                        <mat-label>Resumen</mat-label>
                        <textarea formControlName="text" type="text" matInput maxlength="250"></textarea>
                        <mat-hint class="text-[#bbbdc3]">{{(item?.value?.text?.length ?? 0 )+ '/' + 250}}</mat-hint>
                        <mat-error>Ingresa un valor válido</mat-error>
                     </mat-form-field>
                  </div>
               </div>

               <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0"
                  [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                  <mat-label>Etiquetas</mat-label>
                  <mat-chip-list #chipList formControlName="tags">
                     <mat-chip *ngFor="let tag of form.value.tags?.split(',')" (removed)="removeTag(tag)">
                        {{tag}}
                        <button matChipRemove>
                           <mat-icon>cancel</mat-icon>
                        </button>
                     </mat-chip>
                     <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)">
                  </mat-chip-list>
               </mat-form-field>


               <div *ngIf="router.url.includes('detail') && i == 0"
                  [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                  <div class="flex gap-x-3 justify-between items-center w-full file-field">
                     <div class="flex gap-x-3">
                        <mat-icon class="text-[rgba(0,0,0,.54)]">video_library</mat-icon>
                        Agregar nuevo enlace para galería de vídeo
                     </div>
                     <div class="btn-1"
                        (click)="master.getterA(form.controls['video_gallery']).push(master.createGallery('', master.getterA(form.controls['video_gallery'])?.at(0)?.value?.identifier))">
                        <mat-icon>add</mat-icon>
                     </div>
                  </div>
                  <div formArrayName="video_gallery">
                     <div *ngFor="let item of master.getterA(form.controls['video_gallery']).controls; let i = index"
                        [formGroupName]="i" class="flex gap-x-3 items-start">

                        <mat-form-field class="w-full" appearance="outline">
                           <mat-label>Url para galería de vídeos</mat-label>
                           <input formControlName="url" type="text" matInput [pattern]="video_rexexp">
                           <mat-error>Ingresa un valor válido</mat-error>
                           <mat-hint>Link de youtube</mat-hint>
                        </mat-form-field>
                        <button type="button" class="btn-del mt-1"
                           [disabled]="master.getterA(form.controls['video_gallery']).length == 1"
                           (click)="master.getterA(form.controls['video_gallery']).length > 1 ? master.getterA(form.controls['video_gallery']).removeAt(i) : null">
                           <mat-icon>delete</mat-icon>
                        </button>
                     </div>
                  </div>
               </div>



               <div class="flex basis-full" *ngIf="i == 0 && router.url.includes('detail')"
                  [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                  <div (click)="uploadGallery(form.controls['image_gallery'])" class="file-field !w-full !h-20">
                     <mat-icon class="text-[rgba(0,0,0,.54)]">photo_library</mat-icon>
                     <div class="absolute left-11 duration-300"
                        [ngClass]="form.value?.image_gallery?.length > 0 ? 'top-0 text-xs' : ''">
                        Galería de imágenes
                     </div>

                     <div cdkDropList class="flex gap-x-3 mt-3" (cdkDropListDropped)="drop($event)">
                        <div class="cursor-move" *ngFor="let image of form.value?.image_gallery" cdkDrag>
                           <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                           <img class="h-10 aspect-square object-cover rounded-lg" *ngIf="image?.url" [src]="image?.url"
                              alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </mat-tab>
   </mat-tab-group>
</form>