<div #cc class="">
    <div class="sticky top-0 right-10 left-full w-[7.5rem] z-50 justify-end text-slate-100 rounded-2xl flex gap-x-2">
        <span class="relative flex h-12 w-12">
            <span #ping class="absolute inline-flex h-full w-full rounded-2xl bg-sky-400 opacity-75"></span>
            <button (click)="save()" class="relative rounded-2xl p-3 h-12 bg-b2b-2">
                <mat-icon>save</mat-icon>
            </button>
            <!-- <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span> -->
        </span>
        <button [matMenuTriggerFor]="addLang" class="rounded-2xl p-3 h-12 bg-b2b-2">
            <mat-icon>translate</mat-icon>
        </button>

        <mat-menu #addLang="matMenu">
            <button class="text-slate-100 disabled:text-slate-500" mat-menu-item
                *ngFor="let lang of available_langs; let i = index" [disabled]="lang.id == tabs[i]?.id"
                (click)="lang.id == tabs[i]?.id ? '' : addTab(lang)">
                <span class="ml-2"
                    [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.emoji}}</span>
                <span class="ml-2"
                    [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.name}}</span>
            </button>
        </mat-menu>
    </div>

    <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs; let i = index">
            <ng-template mat-tab-label class="w-full flex gap-x-2">
                <span class="ml-2">{{tab?.emoji}}</span>
                <span class="ml-2">{{tab?.name}}</span>
                <mat-icon class="ml-4" (click)="deleteTab(i, tab.id)"
                    *ngIf="this.tabs.length > 1 && i !== 0 && tab.id !== 1">close</mat-icon>
            </ng-template>

            <div class="flex flex-col gap-y-6">

                <form [formGroup]="form"
                    [ngClass]="cc.offsetWidth <= 640 ? 'grid-cols-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'grid-cols-2' : 'grid-cols-3'"
                    class="grid gap-x-6 w-full">

                    <div class="title" class="title w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0">Detalles de la empresa</div>

                    <div class="label w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0">
                        Categorías
                    </div>
                    <section class="flex flex-wrap gap-x-6 gap-y-3 justify-between mb-6" *ngIf="i == 0">
                        <mat-checkbox *ngFor="let item of cat"
                            class="bg-slate-100/10 h-[58px] p-3 rounded-xl !flex !items-center justify-start basis-40 grow"
                            (change)="changeCheck($event)">
                            <div class="">
                                {{item}}
                            </div>
                        </mat-checkbox>
                    </section>

                    <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                        <mat-label>Página web</mat-label>
                        <input formControlName="web_page" type="text" matInput>
                        <mat-error>Ingrese un valor válido</mat-error>
                    </mat-form-field>

                    <div (click)="uploadPDF(form.get('brochure_name'), form.get('brochure_url'))" class="file-field"
                        *ngIf="i == 0">
                        <mat-icon>upload_file</mat-icon>
                        <div class="absolute left-11" [ngClass]="form.value.brochure_url ? 'top-0 text-xs' : ''">
                            Brochure
                        </div>
                        {{form.value.brochure ?? ''}}
                    </div>

                    <mat-form-field class="w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        appearance="outline" *ngIf="i == 0">
                        <mat-label>Etiquetas</mat-label>
                        <mat-chip-list #chipList formControlName="tags">
                            <mat-chip *ngFor="let tag of form.value.tags" (removed)="removeTag(tag)">
                                {{tag}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)">
                        </mat-chip-list>
                    </mat-form-field>

                    <div class="w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        formArrayName="description">
                        <div *ngFor="let item of master.getterA(form.controls['description']).controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field class="w-full" appearance="outline"
                                *ngIf="item.value.languages_id == tab.id">
                                <mat-label>Descripcion breve</mat-label>
                                <textarea formControlName="text" type="text" matInput maxlength="250"></textarea>
                                <mat-error>Ingrese un valor válido</mat-error>
                                <mat-hint class="text-[#bbbdc3]">{{item?.value?.text?.length + '/' + 250}}</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        formArrayName="description_detail">
                        <div *ngFor="let item of master.getterA(form.controls['description_detail']).controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field class="w-full" appearance="outline"
                                *ngIf="item.value.languages_id == tab.id">
                                <mat-label>Descripción detallada</mat-label>
                                <textarea formControlName="text" type="text" matInput></textarea>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-divider class="title w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0"></mat-divider>

                    <div class="title" class="title w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0">General</div>

                    <div class="label w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0">Horario</div>
                    <div formGroupName="schedule_week" class="flex flex-wrap mb-3 w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0">

                        <div *ngFor="let day of days" class="basis-full flex gap-x-3 items-center">
                            <div class="flex basis-1/4 gap-x-6 mb-3 text-black">
                                <div class="basis-36">
                                    {{day.name}}
                                </div>
                                <mat-slide-toggle #a [formControlName]="day.id + '_tg'"></mat-slide-toggle>
                            </div>
                            <mat-form-field *ngIf="a.checked" class="w-full" appearance="outline">
                                <mat-label>Horario</mat-label>
                                <input [formControlName]="day.id" type="text" matInput [required]="a.checked">
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>


                    </div>

                    <div class="w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        formArrayName="company_payment">
                        <div *ngFor="let item of master.getterA(form.controls['company_payment']).controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field class="w-full" appearance="outline"
                                *ngIf="item.value.languages_id == tab.id">
                                <mat-label>Facilidades de pago</mat-label>
                                <textarea formControlName="text" type="text" matInput></textarea>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0">
                        <div class="basis-full flex flex-col mb-3">
                            <div class="label w-full">
                                ¿Te gustaría que Cluster Industrial te apoye contactando empresas?
                            </div>
                            <mat-radio-group formControlName="consi" class="flex gap-x-3 mb-3"
                                (change)="toogleValidators(consi.checked, ['support_clients', 'service_cluster'])">
                                <mat-radio-button class="basis-16 grow-0" [value]="true" #consi>Sí</mat-radio-button>
                                <mat-radio-button class="basis-16 grow-0" [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="basis-full grow flex flex-col duration-300"
                            [ngClass]="consi.checked ? 'h-[11rem]' : 'h-0 overflow-hidden'">
                            <mat-form-field class="w-full"
                                [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                                appearance="outline">
                                <mat-label>¿Con qué clientes y empresas le gustaria que le apoyaramos para
                                    contactar?</mat-label>
                                <input formControlName="support_clients" type="text" matInput>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-full"
                                [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                                appearance="outline">
                                <mat-label>¿Qué tipo de servicio le gustaría recibir por parte de Cluster
                                    Industrial?</mat-label>
                                <input formControlName="service_cluster" type="text" matInput>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-divider class="title w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"></mat-divider>

                    <div class="w-full flex flex-row-reverse"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                        <mat-icon class="text-[#bbbdc3]">help</mat-icon>
                        <div class="title w-full"
                            [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                            Procesos de la empresa
                        </div>
                    </div>

                    <div class="flex flex-col mb-3 w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                        <div class="label w-full">
                            ¿Tu empresa cuenta con procesos industriales?
                        </div>
                        <mat-radio-group formControlName="pisi" class="flex gap-x-3 mb-3"
                            (change)="toogleValidators(pisi.checked, ['main_processes', 'production_capacity', 'machinery'])">
                            <mat-radio-button class="basis-16 grow-0" [value]="true" #pisi>Sí</mat-radio-button>
                            <mat-radio-button class="basis-16 grow-0" [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div *ngIf="pisi.checked" class="w-full" formArrayName="main_processes">
                        <div *ngFor="let item of master.getterA(form.controls['main_processes']).controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field class="w-full" appearance="outline"
                                *ngIf="item.value.languages_id == tab.id">
                                <mat-label>Procesos principales de la empresa</mat-label>
                                <input formControlName="text" type="text" matInput>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="pisi.checked" class="w-full" formArrayName="production_capacity">
                        <div *ngFor="let item of master.getterA(form.controls['production_capacity']).controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field class="w-full" appearance="outline"
                                *ngIf="item.value.languages_id == tab.id">
                                <mat-label>Capacidad de producción instalada / disponible</mat-label>
                                <input formControlName="text" type="text" matInput>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="pisi.checked" class="w-full" formArrayName="machinery">
                        <div *ngFor="let item of master.getterA(form.controls['machinery']).controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field class="w-full" appearance="outline"
                                *ngIf="item.value.languages_id == tab.id">
                                <mat-label>Maquinaria con la que cuenta</mat-label>
                                <input formControlName="text" type="text" matInput>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="pisi.checked" class="w-full" formArrayName="guarantees_offered">
                        <div *ngFor="let item of master.getterA(form.controls['guarantees_offered']).controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field class="w-full" appearance="outline"
                                *ngIf="item.value.languages_id == tab.id">
                                <mat-label>Garantías ofrecidas por la empresa</mat-label>
                                <input formControlName="text" type="text" matInput>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-divider class="title w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0"></mat-divider>


                    <mat-divider class="title w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0"></mat-divider>

                    <div class="title" class="title w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0">
                        Redes sociales
                    </div>

                    <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                        <mat-label>Facebook</mat-label>
                        <mat-icon matPrefix><i class="fa-brands fa-facebook text-[#bbbdc3]"></i></mat-icon>
                        <input formControlName="facebook" type="text" matInput>
                        <mat-error>Ingrese un valor válido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                        <mat-label>Twitter</mat-label>
                        <mat-icon matPrefix><i class="fa-brands fa-twitter text-[#bbbdc3] !mb-4"></i></mat-icon>
                        <input formControlName="twitter" type="text" matInput>
                        <mat-error>Ingrese un valor válido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                        <mat-label>Linkedin</mat-label>
                        <mat-icon matPrefix><i class="fa-brands fa-linkedin text-[#bbbdc3]"></i></mat-icon>
                        <input formControlName="linkedin" type="text" matInput>
                        <mat-error>Ingrese un valor válido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                        <mat-label>Vídeo de youtube</mat-label>
                        <mat-icon matPrefix><i class="fa-brands fa-youtube text-[#bbbdc3]"></i></mat-icon>
                        <input formControlName="youtube" type="text" matInput>
                        <mat-error>Ingrese un valor válido</mat-error>
                    </mat-form-field>

                    <mat-divider class="title w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"></mat-divider>

                    <div class="title w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                        Información estadística de la empresa
                    </div>

                    <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                        <mat-label>Número aproximado de empleados</mat-label>
                        <input formControlName="number_employees" type="text" matInput>
                        <mat-error>Ingrese un valor válido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                        <mat-label>Volumen de ventas</mat-label>
                        <input formControlName="turnover" type="text" matInput>
                        <mat-error>Ingrese un valor válido</mat-error>
                    </mat-form-field>

                    <div class="w-full" formArrayName="specialization">
                        <div *ngFor="let item of master.getterA(form.controls['specialization']).controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field class="w-full" appearance="outline"
                                *ngIf="item.value.languages_id == tab.id">
                                <mat-label>Especialización industrial</mat-label>
                                <input formControlName="text" type="text" matInput>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full" formArrayName="another_sector">
                        <div *ngFor="let item of master.getterA(form.controls['another_sector']).controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field class="w-full" appearance="outline"
                                *ngIf="item.value.languages_id == tab.id">
                                <mat-label>Otro sector</mat-label>
                                <input formControlName="text" type="text" matInput>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full" formArrayName="relevant_products">
                        <div *ngFor="let item of master.getterA(form.controls['relevant_products']).controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field class="w-full" appearance="outline"
                                *ngIf="item.value.languages_id == tab.id">
                                <mat-label>¿Qué productos relevantes importa?</mat-label>
                                <input formControlName="text" type="text" matInput>
                                <mat-error>Ingrese un valor válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>