<div class="">
   <div class="p-6 rounded-xl bg-white flex flex-col gap-y-2">
      <div class="flex w-full justify-between">
         <div class="text-slate-500 dark:!text-slate-100 text-xl font-semibold">
            {{masterSection}}
         </div>
         <div *ngIf="_modulo !== 'investments'" class="h-12 w-12 flex shadow-xl rounded-xl overflow-hidden">
            <button (click)="add()"
               class="bg-b2b-2 text-white h-12 w-12 shrink-0 grow-0 flex justify-center items-center">
               <mat-icon class="m-auto">add</mat-icon>
            </button>
            <!-- <button [matMenuTriggerFor]="menu"
               class="bg-white dark:!bg-dark-blue-50 text-slate-500 dark:text-slate-300 h-12 w-12 flex">
               <mat-icon class="m-auto">expand_more</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
               <button mat-menu-item (click)="getData()">
                  <mat-icon class="text-slate-700 dark:!text-slate-300">refresh</mat-icon>
                  <span class="text-slate-700 dark:!text-slate-300">Actualizar</span>
               </button>
               <button mat-menu-item [matMenuTriggerFor]="export">
                  <mat-icon class="text-slate-700 dark:!text-slate-300">file_download</mat-icon>
                  <span class="text-slate-700 dark:!text-slate-300">Exportar</span>
               </button>
            </mat-menu>
            <mat-menu #export="matMenu" class="bg-white dark:!bg-dark-blue-50 !rounded-xl !shadow-xl">
               <button mat-menu-item>
                  <mat-icon class="text-slate-700 dark:!text-slate-300">table_chart</mat-icon>
                  <span class="text-slate-700 dark:!text-slate-300">Excel</span>
               </button>
            </mat-menu> -->
         </div>
      </div>
      <!-- <div *ngIf="readyT"> -->
      <div class="overflow-x-scroll">

         <div *ngIf="_modulo === 'events'">
            <h1 class="title">
               Eventos
            </h1>
            <app-mat-table [dataToDisplay]="dataToDisplay" [action]="edit"></app-mat-table>
         </div>

         <div *ngIf="_modulo === 'blogs'">
            <h1 class="title">
               Blogs
            </h1>
            <app-mat-table [dataToDisplay]="dataToDisplay" [action]="edit"></app-mat-table>
         </div>

         <div *ngIf="_modulo === 'rfq'">
            <h1 class="title">
               Requerimientos
            </h1>
            <app-mat-table [dataToDisplay]="dataToDisplay" [action]="edit"></app-mat-table>
            <h1 class="title">
               RFQ's
            </h1>
            <app-mat-table [dataToDisplay]="dataToDisplay1" [action]="edit"></app-mat-table>
         </div>

         <div *ngIf="_modulo === 'companies'">
            <h1 class="title">
               Empresas Aprobadas
            </h1>
            <app-mat-table [dataToDisplay]="dataToDisplay" [action]="edit"></app-mat-table>
            <h1 class="title">
               Empresas Pendientes
            </h1>
            <app-mat-table [dataToDisplay]="dataToDisplay1" [action]="edit"></app-mat-table>
         </div>

         <div *ngIf="_modulo === 'investments'">

            <form #cc [formGroup]="form_investments" (ngSubmit)="save()" id="company-form"
               class="bg-white rounded-2xl shadow-lg p-6">

               <div [matMenuTriggerFor]="addLang" class="btn-1 bg-b2b-2 float-right">
                  <mat-icon>translate</mat-icon>
               </div>

               <mat-menu #addLang="matMenu">
                  <button class="text-slate-900 disabled:text-slate-500" mat-menu-item
                     *ngFor="let lang of available_langs; let i = index" [disabled]="lang.id == tabs[i]?.id"
                     (click)="lang.id == tabs[i]?.id ? '' : master.add_lang_tab(tabs, lang, form_investments)">
                     <span class="ml-2"
                        [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.emoji}}</span>
                     <span class="ml-2"
                        [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.name}}</span>
                  </button>
               </mat-menu>

               <mat-tab-group>
                  <mat-tab *ngFor="let tab of tabs; let i = index">
                     <ng-template mat-tab-label class="w-full flex gap-x-2">
                        <span>{{tab?.emoji}}</span>
                        <span class="ml-2">{{tab?.name}}</span>
                        <mat-icon class="ml-4" (click)="master.del_lang_tab(tabs, tab.id, form_investments, i)"
                           *ngIf="this.tabs.length > 1 && i !== 0 && tab.id !== 1">close</mat-icon>
                     </ng-template>

                     <div class="flex flex-col gap-y-6 overflow-x-hidden">

                        <div class="grid gap-x-6 w-full"
                           [ngClass]="cc.offsetWidth <= 640 ? 'grid-cols-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'grid-cols-2' : 'grid-cols-3'">

                           <div class="title w-full"
                              [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                              Informacion De La Inversión
                           </div>

                           <location [form]="form_investments" *ngIf="i == 0"
                              [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                           </location>

                           <mat-form-field appearance="outline" class="w-full duration-300" *ngIf="i == 0">
                              <mat-label>Monto De Inversión (USD Millions)</mat-label>
                              <input formControlName="total_amount" type="text" matInput>
                              <mat-error>Ingresa un valor válido</mat-error>
                           </mat-form-field>

                           <mat-form-field appearance="outline" class="w-full duration-300" *ngIf="i == 0">
                              <mat-label>Empleos Generados</mat-label>
                              <input formControlName="total_jobs" type="text" matInput>
                              <mat-error>Ingresa un valor válido</mat-error>
                           </mat-form-field>

                           <mat-form-field appearance="outline" class="w-full duration-300" *ngIf="i == 0">
                              <mat-label>Superficie En Construccion</mat-label>
                              <input formControlName="suface_construction" type="text" matInput>
                              <mat-error>Ingresa un valor válido</mat-error>
                           </mat-form-field>

                           <div
                              [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                              formArrayName="description">
                              <div [formGroupName]="i"
                                 *ngFor="let item of master.getterA(form_investments.controls['description']).controls; let i = index">
                                 <mat-form-field class="w-full" appearance="outline"
                                    *ngIf="item.value.languages_id == tab.id">
                                    <mat-label>Descripción</mat-label>
                                    <textarea formControlName="text" type="text" matInput></textarea>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                 </mat-form-field>
                              </div>
                           </div>

                           <mat-form-field class="w-full" appearance="outline"
                              [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                              *ngIf="i == 0">
                              <mat-label>Etiquetas</mat-label>
                              <mat-chip-list #chipList formControlName="categories">
                                 <mat-chip *ngFor="let category of form_investments.value.categories?.split(',')"
                                    (removed)="removeCategory(category)">
                                    {{ category }}
                                    <button matChipRemove>
                                       <mat-icon>cancel</mat-icon>
                                    </button>
                                 </mat-chip>
                                 <input [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                                    (matChipInputTokenEnd)="addCategory($event)">
                              </mat-chip-list>
                           </mat-form-field>

                        </div>
                     </div>
                  </mat-tab>
               </mat-tab-group>
            </form>
         </div>

      </div>
      <!-- <app-mat-table [dataToDisplay]="dataToDisplay?.['is_rfq_approved']" [action]="viewCompany"></app-mat-table> -->

      <!-- <div class="overflow-x-scroll" *ngIf="router.url === '/m/rfq'">
         <div *ngFor="let table of dataArray">
            <app-mat-table [dataToDisplay]="table" [action]="edit"></app-mat-table>
         </div>
      </div> -->
      <!-- </div> -->
      <!-- {{readyT}}
      <div *ngIf="!readyT" class="flex flex-col w-full">
         <div *ngFor="let item of [].constructor(r2)" class="h-14 flex w-full">
            <div *ngFor="let i of [].constructor(r1); let p = even; let o = odd" class="flex items-center w-full border-t border-t-red-400">
               <div *ngIf="p" class="bg-slate-200 animate-loader rounded-full h-3 width"></div>
               <div *ngIf="o" class="bg-slate-200 animate-loader rounded-full h-3 width2"></div>
            </div>
         </div>
      </div> -->
   </div>
</div>