<form #cc [formGroup]="form" (ngSubmit)="save()" id="company-form" class="bg-white rounded-2xl shadow-lg p-6">
   <div
      class="sticky top-0 right-0 left-full w-[7.5rem] z-50 justify-end text-slate-100 rounded-2xl flex gap-x-2 group">
      <div *ngIf="router.url.includes('detail')" type="button" class="btn-del" (click)="delete()">
         <icon i="trash"></icon>
      </div>
      <button type="submit" class="btn-1">
         <icon [i]="router.url.includes('detail') ? 'device-floppy' : 'plus'"></icon>
      </button>
      <div [matMenuTriggerFor]="addLang" class="btn-2">
         <icon i="language" c="#0076ef"></icon>
      </div>

      <mat-menu #addLang="matMenu">
         <button class="text-slate-900 disabled:text-slate-500" mat-menu-item
            *ngFor="let lang of available_langs; let i = index" [disabled]="lang.id == tabs[i]?.id"
            (click)="lang.id == tabs[i]?.id ? '' : master.add_lang_tab(tabs, lang, form)">
            <span class="ml-2" [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.emoji}}</span>
            <span class="ml-2" [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.name}}</span>
         </button>
      </mat-menu>
   </div>

   <mat-tab-group>
      <mat-tab *ngFor="let tab of tabs; let i = index">
         <ng-template mat-tab-label class="w-full flex gap-x-2">
            <span>{{tab?.emoji}}</span>
            <span class="ml-2">{{tab?.name}}</span>
            <icon c="x" class="ml-4" (click)="master.del_lang_tab(tabs, tab.id, form, i)"
               *ngIf="this.tabs.length > 1 && i !== 0 && tab.id !== 1">close</icon>
         </ng-template>

         <div class="flex flex-col gap-y-6 overflow-x-hidden">

            <div [ngClass]="layout.grid(cc)">

               <div class="title w-full" [ngClass]="layout.full(cc)">
                  Información de la membresía
               </div>

               <div [ngClass]="layout.full(cc)" [class]="layout.half_grid(cc)">
                  <mat-slide-toggle class="mb-6" formControlName="hidden" *ngIf="i == 0">Visible</mat-slide-toggle>
               </div>

               <div [ngClass]="layout.full(cc)" [class]="layout.half_grid(cc)">
                  <div class="grow" formArrayName="name">
                     <div *ngFor="let item of master.getterA(form.controls['name']).controls; let i = index"
                        [formGroupName]="i">
                        <mat-form-field class="w-full" appearance="outline"
                           *ngIf="item.value.languages_id == tab.id">
                           <mat-label>Título</mat-label>
                           <input formControlName="text" type="text" matInput>
                           <mat-error>Ingresa un valor válido</mat-error>
                        </mat-form-field>
                     </div>
                  </div>
                  <div class="grow" formArrayName="short_name">
                     <div *ngFor="let item of master.getterA(form.controls['short_name']).controls; let i = index"
                        [formGroupName]="i">
                        <mat-form-field class="w-full" appearance="outline"
                           *ngIf="item.value.languages_id == tab.id">
                           <mat-label>Título corto</mat-label>
                           <input formControlName="text" type="text" matInput>
                           <mat-error>Ingresa un valor válido</mat-error>
                        </mat-form-field>
                     </div>
                  </div>
               </div>

               <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                  <mat-label>Límite de usuarios</mat-label>
                  <icon i="minus" c="#334155" matPrefix
                     (click)="limit_users.valueAsNumber = limit_users.valueAsNumber - 1">remove</icon>

                  <input #limit_users formControlName="limit_users" type="number" matInput [value]="0">
                  <icon i="plus" c="#334155" matSuffix
                     (click)="limit_users.valueAsNumber = limit_users.valueAsNumber + 1">add</icon>
                  <mat-error>Ingresa un valor válido</mat-error>
               </mat-form-field>

               <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                  <mat-label>Límite de productos</mat-label>
                  <icon i="minus" c="#334155" matPrefix
                     (click)="limit_products.valueAsNumber = limit_products.valueAsNumber - 1">remove</icon>

                  <input #limit_products formControlName="limit_products" type="number" matInput [value]="0">
                  <icon i="plus" c="#334155" matSuffix
                     (click)="limit_products.valueAsNumber = limit_products.valueAsNumber + 1">add</icon>
                  <mat-error>Ingresa un valor válido</mat-error>
               </mat-form-field>

               <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                  <mat-label>Precio</mat-label>
                  <icon i="minus" c="#334155" matPrefix (click)="cost.valueAsNumber = cost.valueAsNumber - 1.00">remove
                  </icon>

                  <input #cost formControlName="cost" type="number" matInput [value]="0">
                  <icon i="plus" c="#334155" matSuffix (click)="cost.valueAsNumber = cost.valueAsNumber + 1.00">add
                  </icon>
                  <mat-error>Ingresa un valor válido</mat-error>
               </mat-form-field>

               <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                  <mat-label>Impuestos</mat-label>
                  <icon i="minus" c="#334155" matPrefix (click)="tax.valueAsNumber = tax.valueAsNumber - 1.00">remove
                  </icon>

                  <input #tax formControlName="tax" type="number" matInput [value]="0">
                  <icon i="plus" c="#334155" matSuffix (click)="tax.valueAsNumber = tax.valueAsNumber + 1.00">add
                  </icon>
                  <mat-error>Ingresa un valor válido</mat-error>
               </mat-form-field>

               <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                  <mat-label>Duración de la membresía(meses)</mat-label>
                  <icon i="minus" c="#334155" matPrefix (click)="months.valueAsNumber = months.valueAsNumber - 1">remove
                  </icon>

                  <input #months formControlName="months" type="number" matInput [value]="0">
                  <icon i="plus" c="#334155" matSuffix (click)="months.valueAsNumber = months.valueAsNumber + 1">add
                  </icon>
                  <mat-error>Ingresa un valor válido</mat-error>
               </mat-form-field>

               <div class="flex gap-x-3" *ngIf="i == 0">
                  <!-- <img *ngIf="form.value.image_url" [src]="form.value.image_url" alt="" class="h-10 mt-1 rounded-lg aspect-square grow-0"> -->
                  <div (click)="uploadPDF(form.get('image_url'))" class="file-field"
                      [ngClass]="form.controls['image_url'].invalid && form.controls['image_url'].touched ? 'border-red-500 text-red-500' : ''">
                      <icon i="photo-up" c="#334155" *ngIf="!form.value.image_url"></icon>
                      <img *ngIf="form.value.image_url" [src]="form.value.image_url" alt=""
                          class="h-8 rounded-lg aspect-square grow-0">
                      <div class="absolute left-11"
                          [ngClass]="form.value.image_url ? 'top-0 text-xs' : ''">
                          Imagen
                      </div>
                      <div class="max-w-[12rem] overflow-hidden whitespace-nowrap">
                          {{form.value.image_url ?? ''}}
                      </div>
                  </div>
              </div>

               <div class="label" [ngClass]="layout.full(cc)">
                  Primera sección</div>
               <div class="mb-6" [ngClass]="layout.full(cc)">
                  <div formArrayName="first_section"
                     *ngFor="let item of master.getterA(form.controls['first_section']).controls; let i = index;">
                     <div [formGroupName]="i">
                        <quill-editor *ngIf="item.value.languages_id == tab.id" [required]="true"
                           formControlName="text"></quill-editor>
                     </div>
                  </div>
               </div>

               <div class="label" [ngClass]="layout.full(cc)">
                  Segunda sección</div>
               <div class="mb-6" [ngClass]="layout.full(cc)">
                  <div formArrayName="second_section"
                     *ngFor="let item of master.getterA(form.controls['second_section']).controls; let i = index;">
                     <div [formGroupName]="i">
                        <quill-editor *ngIf="item.value.languages_id == tab.id" [required]="true"
                           formControlName="text"></quill-editor>
                     </div>
                  </div>
               </div>

               <div class="label" [ngClass]="layout.full(cc)">
                  Tercera sección</div>
               <div class="mb-6" [ngClass]="layout.full(cc)">
                  <div formArrayName="third_section"
                     *ngFor="let item of master.getterA(form.controls['third_section']).controls; let i = index;">
                     <div [formGroupName]="i">
                        <quill-editor *ngIf="item.value.languages_id == tab.id" [required]="true"
                           formControlName="text"></quill-editor>
                     </div>
                  </div>
               </div>
               <!-- 
               <div
                  [ngClass]="layout.full(cc)"
                  class="grow" formArrayName="title">
                  <div *ngFor="let item of master.getterA(form.controls['title']).controls; let i = index"
                     [formGroupName]="i">
                     <mat-form-field class="w-full" appearance="outline" *ngIf="item.value.languages_id == tab.id">
                        <mat-label>Título</mat-label>
                        <input formControlName="title_EN" type="text" matInput>
                        <mat-error>Ingresa un valor válido</mat-error>
                     </mat-form-field>
                  </div>
               </div>

               <search-select [label]="'Tipo de evento'" [select]="sel['event_type']" [rq]="true" *ngIf="i == 0"
                  [control]="form.controls['event_type']" class="w-full"></search-select>

               <search-select [label]="'Privacidad'" [select]="sel['event_privacy']" [rq]="true" *ngIf="i == 0"
                  [control]="form.controls['event_privacy']" class="w-full"></search-select>

               <div class="flex gap-x-3" *ngIf="i == 0">
                  <mat-form-field appearance="outline" class="w-full duration-300"
                     [ngClass]="form.value.cost == 0 ? 'max-w-full' : 'max-w-[50%]'">
                     <mat-label>Costo</mat-label>
                     <input formControlName="cost" type="text" matInput>
                     <mat-error>Ingresa un valor válido</mat-error>
                  </mat-form-field>
                  <search-select [label]="'Moneda'" [select]="sel['coin']" [rq]="true" [control]="form.controls['coin']"
                     class="w-full max-w-[calc(50%-0.75rem)] duration-300"
                     [ngClass]="form.value.cost == 0 ? 'hidden' : ''"></search-select>
               </div> -->
            </div>
         </div>
      </mat-tab>
   </mat-tab-group>
</form>