<div #cc class="bg-white rounded-2xl shadow-lg p-6">
    <div class="sticky top-0 right-10 left-full w-[7.5rem] z-50 justify-end text-slate-100 rounded-2xl flex gap-x-2">
        <span class="relative flex h-12 w-12">
            <span #ping class="absolute inline-flex h-full w-full rounded-2xl bg-b2b-2 opacity-75"></span>
            <button (click)="save()" class="btn-1 z-50">
                <icon [i]="router.url.includes('detail') ? 'device-floppy' : 'plus'"></icon>
            </button>
            <!-- <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span> -->
        </span>
        <button [matMenuTriggerFor]="addLang" class="btn-2">
            <icon i="language" c="#0076ef"></icon>
        </button>

        <mat-menu #addLang="matMenu">
            <button class="text-slate-100 disabled:text-slate-500" mat-menu-item
                *ngFor="let lang of available_langs; let i = index" [disabled]="lang.id == tabs[i]?.id"
                (click)="lang.id == tabs[i]?.id ? '' : master.add_lang_tab(tabs, lang, form)">
                <span class="ml-2"
                    [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.emoji}}</span>
                <span class="ml-2"
                    [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.name}}</span>
            </button>
        </mat-menu>
    </div>

    <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs; let i = index">
            <ng-template mat-tab-label class="w-full flex gap-x-2">
                <span class="ml-2">{{tab?.emoji}}</span>
                <span class="ml-2">{{tab?.name}}</span>
                <icon class="ml-4" i="x" (click)="master.del_lang_tab(tabs, tab.id, form, i)"
                    *ngIf="this.tabs.length > 1 && i !== 0 && tab.id !== 1">close</icon>
            </ng-template>

            <div class="flex flex-col gap-y-6">

                <mat-tab-group>
                    <form [formGroup]="form">

                        <mat-tab label="Información General">
                            <div class="w-full bg-red-400">

                            </div>
                            <div [ngClass]="layout.grid(cc)">

                                <div class="title w-full" [ngClass]="layout.full(cc)">
                                    Información de la empresa
                                </div>

                                <div class="flex gap-x-6" [ngClass]="layout.full(cc)">
                                    <mat-slide-toggle class="mb-6 w-full"
                                        formControlName="hidden">Oculto</mat-slide-toggle>
                                    <mat-slide-toggle class="mb-6 w-full"
                                        formControlName="approved">Validado</mat-slide-toggle>
                                </div>

                                <div class="grow" formArrayName="legal_name" [ngClass]="layout.full(cc)">
                                    <div *ngFor="let item of master.array(form, 'legal_name'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>Razón social</mat-label>
                                            <input formControlName="text" type="text" matInput>
                                            <mat-error>Ingresar un valor válido *</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Nombre comercial</mat-label>
                                    <input formControlName="friendly_name" type="text" matInput>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                                <div class="flex flex-col gap-y-1.5" *ngIf="i == 0">
                                    <!-- <img *ngIf="form.value.image_url" [src]="form.value.image_url" alt="" class="h-10 mt-1 rounded-lg aspect-square grow-0"> -->
                                    <div (click)="uploadPDF(form.get('image_url'))" class="file-field !basis-0 !mb-0"
                                        [ngClass]="layout.invalid(form, 'image_url')">
                                        <icon i="file-upload" c="#334155" *ngIf="!form.value.image_url"></icon>
                                        <img *ngIf="form.value.image_url" [src]="form.value.image_url" alt=""
                                            class="h-8 rounded-lg aspect-square grow-0">
                                        <div class="absolute left-11" [ngClass]="layout.label(form, 'image_url')">
                                            Logo
                                        </div>
                                        <div class="max-w-[12rem] overflow-hidden whitespace-nowrap">
                                            {{form.value.image_url ?? ''}}
                                        </div>
                                    </div>
                                    <div class="text-slate-500 text-xs ml-3">
                                        Fotografía en fondo blanco. Relación de aspecto 1:1
                                    </div>
                                </div>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>RFC</mat-label>
                                    <input formControlName="rfc" type="text" matInput>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="email_company" type="text" matInput>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                                <div #phone class="w-full flex gap-x-3" *ngIf="i == 0">
                                    <div #pc class="w-full max-w-[6rem]">
                                        <search-select [label]="'Código'" [select]="sel['countries']"
                                            [control]="form.controls['phone_code']" class="w-full"></search-select>
                                    </div>

                                    <mat-form-field appearance="outline" class="w-full"
                                        [ngStyle]="{'max-width.px' : phone.offsetWidth - pc.offsetWidth - 12}">
                                        <mat-label>Teléfono</mat-label>
                                        <input formControlName="phone" type="text" matInput>
                                        <mat-error>Ingresar un valor válido *</mat-error>
                                    </mat-form-field>
                                </div>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Ext</mat-label>
                                    <input formControlName="ext" type="text" matInput>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Conmutador</mat-label>
                                    <input formControlName="phone_switch" type="text" matInput>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Fax</mat-label>
                                    <input formControlName="phone_fax" type="text" matInput>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                                <div class="w-full" formArrayName="main_activity">
                                    <div *ngFor="let item of master.array(form, 'main_activity'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>Productos y servicios principales</mat-label>
                                            <input formControlName="text" type="text" matInput>
                                            <mat-error>Ingresar un valor válido *</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Creación empresa</mat-label>
                                    <input formControlName="start_year" type="text" matInput>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                                <search-select *ngIf="i == 0" [label]="'Giro de empresa'" [select]="sel['type_company']"
                                    [control]="form.controls['type_company_id']" class="w-full"></search-select>

                                <search-select *ngIf="i == 0" [label]="'País de origen'" [select]="sel['countries']"
                                    [control]="form.controls['country_origin']" class="w-full"></search-select>

                                <search-select *ngIf="i == 0" [label]="'Mebresía'" [select]="sel['type_company']"
                                    [control]="form.controls['type_membership_id']" class="w-full"></search-select>

                                <mat-form-field appearance="outline" class="" *ngIf="i == 0">
                                    <mat-label>Fechas de membresía</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate formControlName="membership_creation_date"
                                            placeholder="Inicio">
                                        <input matEndDate formControlName="membership_expiration_date"
                                            placeholder="Fin">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>

                                    <mat-error>Ingresa un valor válido</mat-error>

                                </mat-form-field>


                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Límite de usuarios</mat-label>
                                    <icon i="minus" c="#334155" matPrefix
                                        (click)="limit_users.valueAsNumber = limit_users.valueAsNumber - 1"></icon>

                                    <input #limit_users formControlName="limit_users" type="number" matInput
                                        [value]="0">
                                    <icon i="plus" c="#334155" matSuffix
                                        (click)="limit_users.valueAsNumber = limit_users.valueAsNumber + 1"></icon>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Límite de productos</mat-label>
                                    <icon i="minus" c="#334155" matPrefix
                                        (click)="limit_products.valueAsNumber = limit_products.valueAsNumber - 1">
                                    </icon>

                                    <input #limit_products formControlName="limit_products" type="number" matInput
                                        [value]="0">
                                    <icon i="plus" c="#334155" matSuffix
                                        (click)="limit_products.valueAsNumber = limit_products.valueAsNumber + 1">
                                    </icon>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Límite de usuarios activos</mat-label>
                                    <icon i="minus" c="#334155" matPrefix
                                        (click)="active_user_limit.valueAsNumber = active_user_limit.valueAsNumber - 1">
                                    </icon>

                                    <input #active_user_limit formControlName="active_user_limit" type="number" matInput
                                        [value]="0">
                                    <icon i="plus" c="#334155" matSuffix
                                        (click)="active_user_limit.valueAsNumber = active_user_limit.valueAsNumber + 1">
                                    </icon>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>

                                <div class="label w-full " [ngClass]="layout.full(cc)" *ngIf="i == 0">Cluster</div>
                                <section *ngIf="i == 0">
                                    <mat-checkbox *ngFor="let item of clusters"
                                        [value]="company_clusters?.includes(item.id)"
                                        [checked]="company_clusters?.includes(item.id)"
                                        (change)="add_cluster($event, item.id)">{{item.name}}</mat-checkbox>
                                </section>

                                <div class="flex basis-full" [ngClass]="layout.full(cc)">
                                    <div (click)="uploadGallery(form.controls['image_gallery'])"
                                        class="file-field w-full !h-20" *ngIf="i == 0">
                                        <icon i="slideshow" c="#334155"></icon>
                                        <div class="absolute left-11 duration-300"
                                            [ngClass]="form.value.image_gallery?.length > 0 ? 'top-0 text-xs' : ''">
                                            Galería de imágenes
                                        </div>

                                        <div cdkDropList class="flex gap-x-3 mt-3" (cdkDropListDropped)="drop($event)">
                                            <div class="cursor-move" *ngFor="let item of form?.value?.image_gallery"
                                                cdkDrag>
                                                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                                                <img class="h-10 aspect-square object-cover rounded-lg"
                                                    [src]="item?.url" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="form.value.image_gallery.length > 0" class="text-xs text-[#bbbdc3] ml-2">Coloca la imagen que quieras como portada al principio</div> -->
                                </div>

                                <mat-divider class="title w-full" [ngClass]="layout.full(cc)"
                                    *ngIf="i == 0"></mat-divider>

                                <div class="title" class="title w-full" [ngClass]="layout.full(cc)" *ngIf="i == 0">
                                    Ubicación
                                </div>

                                <div *ngIf="i == 0" class="title w-full" [ngClass]="layout.full(cc)" id="map" #map
                                    class="aspect-[3/1] basis-full mb-4 rounded-2xl"></div>
                                <div *ngIf="i == 0" class="title w-full" [ngClass]="layout.full(cc)"
                                    class="flex justify-center items-center mb-6">
                                    <div class="btn-p mx-auto" (click)="getLocation()">
                                        Obtener Información
                                    </div>
                                </div>

                                <location [form]="form" *ngIf="i == 0" [ngClass]="layout.full(cc)">
                                </location>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Código Postal </mat-label>
                                    <input formControlName="zip" type="text" matInput>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Colonia</mat-label>
                                    <input formControlName="address_2" type="text" matInput [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let item of location?.asentamientos_cp"
                                            [value]="item">{{item}}</mat-option>
                                    </mat-autocomplete>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Cobertura</mat-label>
                                    <input formControlName="branch" type="text" matInput>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full" [ngClass]="layout.full(cc)"
                                    *ngIf="i == 0">
                                    <mat-label>Calle</mat-label>
                                    <textarea formControlName="address_1" type="text" matInput></textarea>
                                    <mat-error>Ingresar un valor válido *</mat-error>
                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="Detalles De La Empresa">
                            <div [ngClass]="layout.grid(cc)">

                                <div class="title" class="title w-full" [ngClass]="layout.full(cc)" *ngIf="i == 0">
                                    Detalles de la empresa</div>

                                <div class="label w-full" [ngClass]="layout.full(cc)" *ngIf="i == 0">
                                    Categorías
                                </div>

                                <div *ngIf="i == 0" class="flex flex-col gap-x-6 w-full" [ngClass]="layout.full(cc)">
                                    <recursive-select [select]="sel['category_searcher']" label="Categoría"
                                        class="w-full flex gap-x-6" [control]="form.controls['first_category']"
                                        [rq]="true" [generation]="0" [value]="form.value.first_categories"
                                        (categorySelected)="onCategorySelected($event)"></recursive-select>

                                    <button (click)="push_category()" class="btn-1 m-auto mb-3">Añadir
                                        categoría</button>

                                    <div *ngIf="!router.url.includes('detail')">
                                        <span *ngFor="let item of company_categories_name; let i = index"
                                            class="tag">{{item.name}}
                                            <span (click)="pop_category(i)"
                                                class="text-red-500 font-black">⨉<!-- <icon i="x"></icon> -->
                                                <!-- CAMBIAR LA FUNCIÓN POP -->
                                            </span>
                                        </span>
                                    </div>

                                    <div *ngIf="router.url.includes('detail')">
                                        <span *ngFor="let item of form.value?.categories_company; let i = index"
                                            class="tag">{{item.categories_id}}
                                            <span (click)="pop_category(i)"
                                                class="text-red-500 font-black">⨉<!-- <icon i="x"></icon> -->
                                                <!-- CAMBIAR LA FUNCIÓN POP -->
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <mat-form-field appearance="outline" class="w-full" *ngIf="i == 0">
                                    <mat-label>Página web</mat-label>
                                    <input formControlName="web_page" type="text" matInput>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>

                                <div (click)="uploadPDF(form.get('brochure_url'))" class="file-field"
                                    [ngClass]="layout.invalid(form, 'brochure_url')" *ngIf="i == 0">
                                    <icon i="file-upload" c="#334155"></icon>
                                    <div class="absolute left-11" [ngClass]="layout.label(form, 'image_url')">
                                        Brochure
                                    </div>
                                    {{form.value.brochure ?? ''}}
                                </div>

                                <mat-form-field class="w-full" [ngClass]="layout.full(cc)" appearance="outline"
                                    *ngIf="i == 0">
                                    <mat-label>Etiquetas</mat-label>
                                    <mat-chip-list #chipList formControlName="tags">
                                        <!-- <mat-chip *ngFor="let tag of form.value.tags?.split(',')"
                                            (removed)="removeTag(tag)">
                                            {{tag}}
                                            <button matChipRemove>
                                                <icon i="circle-x"></icon>
                                            </button>
                                        </mat-chip> -->
                                        <input [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)">
                                    </mat-chip-list>
                                </mat-form-field>

                                <div class="w-full" [ngClass]="layout.full(cc)" formArrayName="description">
                                    <div *ngFor="let item of master.array(form, 'description'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>Descripcion breve</mat-label>
                                            <textarea formControlName="text" type="text" matInput
                                                maxlength="250"></textarea>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                            <mat-hint class="text-[#bbbdc3]">{{item?.value?.text?.length ?? 0 + '/' +
                                                250}}</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="w-full" [ngClass]="layout.full(cc)" formArrayName="description_detail">
                                    <div *ngFor="let item of master.array(form, 'description_detail'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>Descripción detallada</mat-label>
                                            <textarea formControlName="text" type="text" matInput></textarea>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>


                                <div class="title" class="title w-full" [ngClass]="layout.full(cc)" *ngIf="i == 0">
                                    General</div>

                                <div class="label w-full" [ngClass]="layout.full(cc)" *ngIf="i == 0">Horario</div>
                                <div formGroupName="schedule_week" class="flex flex-wrap mb-3 w-full"
                                    [ngClass]="layout.full(cc)" *ngIf="i == 0">

                                    <div *ngFor="let day of days" class="basis-full flex gap-x-3 items-center">
                                        <div class="flex basis-1/4 gap-x-6 mb-3 text-slate-900">
                                            <div class="basis-36">
                                                {{day.name}}
                                            </div>
                                            <mat-slide-toggle #a [formControlName]="day.id + '_tg'"></mat-slide-toggle>
                                        </div>
                                        <mat-form-field *ngIf="a.checked" class="w-full" appearance="outline">
                                            <mat-label>Horario</mat-label>
                                            <input [formControlName]="day.id" type="text" matInput
                                                [required]="a.checked">
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>


                                </div>

                                <div class="w-full" [ngClass]="layout.full(cc)" formArrayName="company_payment">
                                    <div *ngFor="let item of master.array(form, 'company_payment'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item?.value?.languages_id == tab?.id">
                                            <mat-label>Facilidades de pago</mat-label>
                                            <textarea formControlName="text" type="text" matInput></textarea>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="w-full" [ngClass]="layout.full(cc)" *ngIf="i == 0">
                                    <div class="basis-full flex flex-col mb-3">
                                        <div class="label w-full">
                                            ¿Te gustaría que Cluster Industrial te apoye contactando empresas?
                                        </div>
                                        <mat-radio-group formControlName="consi" class="flex gap-x-3 mb-3"
                                            (change)="toogleValidators(consi.checked, ['support_clients', 'service_cluster'])">
                                            <mat-radio-button class="basis-16 grow-0" [value]="true"
                                                #consi>Sí</mat-radio-button>
                                            <mat-radio-button class="basis-16 grow-0"
                                                [value]="false">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>

                                    <div class="basis-full grow flex flex-col duration-300"
                                        [ngClass]="consi.checked ? 'h-[11rem]' : 'h-0 overflow-hidden'">
                                        <mat-form-field class="w-full" [ngClass]="layout.full(cc)" appearance="outline">
                                            <mat-label>¿Con qué clientes y empresas le gustaria que le apoyaramos para
                                                contactar?</mat-label>
                                            <input formControlName="support_clients" type="text" matInput>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>

                                        <mat-form-field class="w-full" [ngClass]="layout.full(cc)" appearance="outline">
                                            <mat-label>¿Qué tipo de servicio le gustaría recibir por parte de Cluster
                                                Industrial?</mat-label>
                                            <input formControlName="service_cluster" type="text" matInput>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="w-full flex flex-row-reverse" [ngClass]="layout.full(cc)">
                                    <icon i="help-circle" c="#bbbdc3"></icon>
                                    <div class="title w-full" [ngClass]="layout.full(cc)">
                                        Procesos de la empresa
                                    </div>
                                </div>

                                <div class="flex flex-col mb-3 w-full" [ngClass]="layout.full(cc)">
                                    <div class="label w-full">
                                        ¿Tu empresa cuenta con procesos industriales?
                                    </div>
                                    <mat-radio-group formControlName="pisi" class="flex gap-x-3 mb-3"
                                        (change)="toogleValidators(pisi.checked, ['main_processes', 'production_capacity', 'machinery'])">
                                        <mat-radio-button class="basis-16 grow-0" [value]="true"
                                            #pisi>Sí</mat-radio-button>
                                        <mat-radio-button class="basis-16 grow-0" [value]="false">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <div *ngIf="pisi.checked" class="w-full" formArrayName="main_processes">
                                    <div *ngFor="let item of master.array(form, 'main_processes'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>Procesos principales de la empresa</mat-label>
                                            <input formControlName="text" type="text" matInput>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div *ngIf="pisi.checked" class="w-full" formArrayName="production_capacity">
                                    <div *ngFor="let item of master.array(form, 'production_capacity'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>Capacidad de producción instalada / disponible</mat-label>
                                            <input formControlName="text" type="text" matInput>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div *ngIf="pisi.checked" class="w-full" formArrayName="machinery">
                                    <div *ngFor="let item of master.array(form, 'machinery'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>Maquinaria con la que cuenta</mat-label>
                                            <input formControlName="text" type="text" matInput>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div *ngIf="pisi.checked" class="w-full" formArrayName="guarantees_offered">
                                    <div *ngFor="let item of master.array(form, 'guarantees_offered'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>Garantías ofrecidas por la empresa</mat-label>
                                            <input formControlName="text" type="text" matInput>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="title" class="title w-full" [ngClass]="layout.full(cc)" *ngIf="i == 0">
                                    Redes sociales
                                </div>

                                <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                                    <mat-label>Facebook</mat-label>
                                    <mat-icon matPrefix>
                                        <icon i="brand-facebook" c="#334155"></icon>
                                    </mat-icon>
                                    <input formControlName="facebook" type="text" matInput>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>

                                <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                                    <mat-label>Twitter</mat-label>
                                    <mat-icon matPrefix>
                                        <icon i="brand-twitter" c="#334155"></icon>
                                    </mat-icon>
                                    <input formControlName="twitter" type="text" matInput>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>

                                <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                                    <mat-label>Linkedin</mat-label>
                                    <mat-icon matPrefix>
                                        <icon i="brand-linkedin" c="#334155"></icon>
                                    </mat-icon>
                                    <input formControlName="linkedin" type="text" matInput>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>

                                <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                                    <mat-label>Vídeo de youtube</mat-label>
                                    <mat-icon matPrefix>
                                        <icon i="brand-youtube" c="#334155"></icon>
                                    </mat-icon>
                                    <input formControlName="youtube" type="text" matInput>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>

                                <div class="title w-full" [ngClass]="layout.full(cc)">
                                    Información estadística de la empresa
                                </div>

                                <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                                    <mat-label>Número aproximado de empleados</mat-label>
                                    <input formControlName="number_employees" type="text" matInput>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>

                                <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0">
                                    <mat-label>Volumen de ventas</mat-label>
                                    <input formControlName="turnover" type="text" matInput>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>

                                <div class="w-full" formArrayName="specialization">
                                    <div *ngFor="let item of master.array(form, 'specialization'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>Especialización industrial</mat-label>
                                            <input formControlName="text" type="text" matInput>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="w-full" formArrayName="another_sector">
                                    <div *ngFor="let item of master.array(form, 'another_sector'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>Otro sector</mat-label>
                                            <input formControlName="text" type="text" matInput>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="w-full" formArrayName="relevant_products">
                                    <div *ngFor="let item of master.array(form, 'relevant_products'); let i = index"
                                        [formGroupName]="i">
                                        <mat-form-field class="w-full" appearance="outline"
                                            *ngIf="item.value.languages_id == tab.id">
                                            <mat-label>¿Qué productos relevantes importa?</mat-label>
                                            <input formControlName="text" type="text" matInput>
                                            <mat-error>Ingresa un valor válido</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Capacidades Y Certificaciones">
                            <div class="title" class="title w-full" [ngClass]="layout.full(cc)" *ngIf="i == 0">
                                Capacidades y certificaciones
                            </div>

                            <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0"
                                [ngClass]="layout.full(cc)">
                                <mat-label>Premios de calidad obtenidos, reconocimientos</mat-label>
                                <input formControlName="quality_awards" type="text" matInput>
                                <mat-error>Ingresa un valor válido.</mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0"
                                [ngClass]="layout.full(cc)">
                                <mat-label>Certificaciones</mat-label>
                                <mat-select (selectionChange)="toggle_iso($event)" formControlName="cert" multiple>
                                    <mat-option *ngFor="let _ce of cert"
                                        value="{{_ce.name_id.toString()}}">{{_ce.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="w-full" formArrayName="isos" *ngIf="i == 0" [ngClass]="layout.full(cc)">
                                <div *ngFor="let item of master.array(form, 'isos'); let i = index" [formGroupName]="i">
                                    <div class="flex justify-center items-center gap-x-3 text-slate-100"
                                        *ngIf="item.value.active == '1'">
                                        <div class="basis-48 grow">
                                            {{item.value.name}}
                                        </div>
                                        <div class="file-field" #filefield
                                            [ngClass]="layout.invalid(master.group(master.getterA(form.controls['isos']).at(i)), 'url')"
                                            (click)="uploadPDF(master.getterA(form.controls['isos']).at(i).get('url'))">
                                            <icon i="file-upload" c="#334155"></icon>
                                            <div class="absolute left-11" [ngClass]="layout.label(form, 'url')">
                                                Comprobante
                                            </div>
                                            <div [ngStyle]="{'max-width.px' : filefield.offsetWidth - 92}"
                                                class=" truncate">
                                                {{item.value.url ?? ''}}
                                            </div>
                                        </div>
                                        <a href="{{item.value.url}}" target="_blank">
                                            <icon i="external-link"></icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Productos">
                            <app-mat-table [dataToDisplay]="products"></app-mat-table>
                        </mat-tab>
                        <mat-tab label="Servicios">
                            <app-mat-table [dataToDisplay]="products"></app-mat-table>
                        </mat-tab>
                        <mat-tab label="RFQ">
                            <div class="w-full flex items-end justify-end">
                                <button (click)="addrfq()"
                                    class="bg-b2b-2 text-white h-12 w-12 shrink-0 grow-0 flex justify-center items-center rounded-xl">
                                    <icon i="plus" class="m-auto"></icon>
                                </button>
                            </div>
                            <app-mat-table [dataToDisplay]="requierements" [action]="edit"></app-mat-table>
                        </mat-tab>
                    </form>
                </mat-tab-group>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>