<form [formGroup]="form" (ngSubmit)="save()" class="flex flex-col">
   <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nueva Contraseña</mat-label>
      <input #pwd matInput type="password" formControlName="new_password">
      <mat-icon matSuffix (click)="pwd.type = pwd.type == 'text' ? 'password' : 'text'">
         <icon class="cursor-pointer" [i]="pwd.type == 'password' ? 'eye' : 'eye-off'" c="#334155"></icon>
      </mat-icon>
      <mat-error>Ingresa un valor válido</mat-error>
   </mat-form-field>

   <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nueva Contraseña</mat-label>
      <input #cpwd matInput type="password" formControlName="confirm_password">
      <mat-icon matSuffix (click)="cpwd.type = cpwd.type == 'text' ? 'password' : 'text'">
         <icon class="cursor-pointer" [i]="cpwd.type == 'password' ? 'eye' : 'eye-off'" c="#334155"></icon>
      </mat-icon>
      <mat-error *ngIf="form.controls['password_confirmation']?.errors?.['required']">
         Ingresa un valor válido
      </mat-error>
      <mat-error *ngIf="form.controls['password_confirmation']?.errors?.['match']">
         Las contraseñas no coinciden
      </mat-error>
   </mat-form-field>

   <button [disabled]="form.invalid" type="submit" class="btn-1">GUARDAR</button>
</form>