<div #cc class="">
    <div class="sticky top-0 right-10 left-full w-[7.5rem] z-50 justify-end text-slate-100 rounded-2xl flex gap-x-2">
        <span class="relative flex h-12 w-12">
            <span #ping class="absolute inline-flex h-full w-full rounded-2xl bg-sky-400 opacity-75"></span>
            <button (click)="save()" class="relative rounded-2xl p-3 h-12 bg-b2b-2">
                <mat-icon>save</mat-icon>
            </button>
            <!-- <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span> -->
        </span>
        <button [matMenuTriggerFor]="addLang" class="rounded-2xl p-3 h-12 bg-b2b-2">
            <mat-icon>translate</mat-icon>
        </button>

        <mat-menu #addLang="matMenu">
            <button class="text-slate-100 disabled:text-slate-500" mat-menu-item
                *ngFor="let lang of available_langs; let i = index" [disabled]="lang.id == tabs[i]?.id"
                (click)="lang.id == tabs[i]?.id ? '' : addTab(lang)">
                <span class="ml-2"
                    [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.emoji}}</span>
                <span class="ml-2"
                    [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.name}}</span>
            </button>
        </mat-menu>
    </div>

    <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs; let i = index">
            <ng-template mat-tab-label class="w-full flex gap-x-2">
                <span class="ml-2">{{tab?.emoji}}</span>
                <span class="ml-2">{{tab?.name}}</span>
                <mat-icon class="ml-4" (click)="deleteTab(i, tab.id)"
                    *ngIf="this.tabs.length > 1 && i !== 0 && tab.id !== 1">close</mat-icon>
            </ng-template>

            <div class="flex flex-col gap-y-6">

                <form [formGroup]="form"
                    [ngClass]="cc.offsetWidth <= 640 ? 'grid-cols-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'grid-cols-2' : 'grid-cols-3'"
                    class="grid gap-x-6 w-full">

                    <div class="title" class="title w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                        *ngIf="i == 0">
                        Capacidades y certificaciones
                    </div>

                    <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                        <mat-label>Premios de calidad obtenidos, reconocimientos</mat-label>
                        <input formControlName="quality_awards" type="text" matInput>
                        <mat-error>Ingrese un valor válido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="outline" *ngIf="i == 0"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                        <mat-label>Certificaciones</mat-label>
                        <mat-select (selectionChange)="hola($event)" formControlName="cert" multiple>
                            <mat-option *ngFor="let _ce of cert" value="{{_ce.name_id}}">{{_ce.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="w-full" formArrayName="isos" *ngIf="i == 0"
                        [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                        <div *ngFor="let item of master.getterA(form.controls['isos']).controls; let i = index"
                            [formGroupName]="i">
                            <div class="flex justify-center items-center gap-x-3 text-slate-100"
                                *ngIf="item.value.active == '1'">
                                <div class="basis-48 grow">
                                    {{item.value.name}}
                                </div>
                                <div class="file-field" #filefield
                                    (click)="uploadPDF(master.getterA(form.controls['isos']).at(i).get('url'))">
                                    <mat-icon>upload_file</mat-icon>
                                    <div class="absolute left-11" [ngClass]="item.value.url ? 'top-0 text-xs' : ''">
                                        Comprobante
                                    </div>
                                    <div [ngStyle]="{'max-width.px' : filefield.offsetWidth - 92}" class=" truncate">
                                        {{item.value.url ?? ''}}
                                    </div>
                                </div>
                                <a href="{{item.value.url}}" target="_blank"><mat-icon>open_in_new</mat-icon></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>