<form #cc [formGroup]="form" (ngSubmit)="save()" id="company-form" class="bg-white rounded-2xl shadow-lg p-6">
   <div
      class="sticky top-0 right-0 left-full w-[7.5rem] z-50 justify-end text-slate-100 rounded-2xl flex gap-x-2 group">
      <div type="button" class="btn-grn" (click)="permissions()">
         <icon i="key"></icon>
      </div>

      <div *ngIf="router.url.includes('detail')" type="button" class="btn-del" (click)="delete()">
         <icon i="trash"></icon>
      </div>

      <div *ngIf="router.url.includes('detail')" type="button" class="btn-2" (click)="change_password()">
         <icon i="password" c="#0076ef"></icon>
      </div>

      <button type="submit" class="btn-1">
         <icon [i]="router.url.includes('detail') ? 'device-floppy' : 'plus'"></icon>
         <!-- <icon [i]="router.url.includes('detail') ? 'device-floppy' : 'plus'"></icon> -->
      </button>
   </div>

   <div class="flex flex-col gap-y-6 overflow-x-hidden">

      <div
         [ngClass]="layout.grid(cc)"
         class="grid gap-x-6 w-full">

         <div class="title w-full"
            [ngClass]="layout.full(cc)">
            Información del usuario
         </div>

         <mat-slide-toggle class="mb-6 min-w-[8rem]" formControlName="hidden">Oculto</mat-slide-toggle>
         <mat-slide-toggle class="mb-6 min-w-[8rem]" formControlName="valid_email">Correo validado</mat-slide-toggle>
         <mat-slide-toggle class="mb-6 min-w-[8rem]" formControlName="approved">Aprobado</mat-slide-toggle>

         <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nombre de usuario</mat-label>
            <icon i="at" c="#334155" matPrefix></icon>
            <input formControlName="username" type="text" matInput>
            <mat-error>Ingresa un valor válido</mat-error>
         </mat-form-field>

         <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nombre(s)</mat-label>
            <input formControlName="first_name" type="text" matInput>
            <mat-error>Ingresa un valor válido</mat-error>
         </mat-form-field>

         <mat-form-field appearance="outline" class="w-full">
            <mat-label>Apellido(s)</mat-label>
            <input formControlName="last_name" type="text" matInput>
            <mat-error>Ingresa un valor válido</mat-error>
         </mat-form-field>



         <mat-form-field appearance="outline" class="">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="text" matInput>
            <mat-error>Ingresa un valor válido</mat-error>
         </mat-form-field>


         <div #phone class="w-full flex gap-x-3">
            <div #pc class="w-full max-w-[6rem]">
               <search-select [label]="'Código'" [select]="sel['countries']" [control]="form.controls['phone_code']"
                  class="w-full"></search-select>
            </div>

            <mat-form-field appearance="outline" class="w-full"
               [ngStyle]="{'max-width.px' : phone.offsetWidth - pc.offsetWidth - 12}">
               <mat-label>Teléfono</mat-label>
               <input formControlName="phone" type="text" matInput>
               <mat-error>Ingresar un valor válido *</mat-error>
            </mat-form-field>
         </div>

         <!-- <search-select [label]=" 'Idioma' " [select]="sel['languages']" [control]="form.controls['languages']"
            class="w-full"></search-select> -->

         <location [form]="form"
            [ngClass]="layout.full(cc)">
         </location>

         <div class="title w-full"
            [ngClass]="layout.full(cc)">
            Información laboral
         </div>

         <search-select [label]="'Empresa'" [select]="sel['companies']" [control]="form.controls['profile_company_id']"
            class="w-full"></search-select>

         <mat-form-field appearance="outline" class="basis-full grow">
            <mat-label>Compañía</mat-label>
            <input formControlName="company" type="text" matInput>
            <mat-error>Ingresa un valor válido</mat-error>
         </mat-form-field>

         <div class="file-field">
            <div class="absolute -top-2 text-xsm">RFC de la empresa</div>
            {{form?.value?.rfc}}
         </div>

         <mat-form-field appearance="outline" class="basis-full grow">
            <mat-label>Puesto</mat-label>
            <input formControlName="job" type="text" matInput>
            <mat-error>Ingresa un valor válido</mat-error>
         </mat-form-field>

         <mat-form-field appearance="outline" class="">
            <mat-label>Departamento</mat-label>
            <input formControlName="department" type="text" matInput>
            <mat-error>Ingresa un valor válido</mat-error>
         </mat-form-field>

         <!-- <search-select [label]="'Permisos'" [select]="sel['countries']" [control]="form.controls['permission']"
                  class="w-full"></search-select> -->


      </div>
   </div>
</form>