<div class="flex flex-col">
    <form #cc [formGroup]="form_investments" (ngSubmit)="save()" id="company-form"
        class="bg-white rounded-2xl shadow-lg p-6 relative">
        <div
            class="sticky top-0 right-0 left-full w-[7.5rem] z-50 justify-end text-slate-100 rounded-2xl flex gap-x-2 group">
            <div *ngIf="router.url.includes('detail')" type="button" class="btn-del" (click)="delete()">
                <mat-icon>delete</mat-icon>
            </div>
            <button type="submit" class="btn-1" [disabled]="form_investments.invalid">
                <mat-icon>{{router.url.includes('detail') ? 'edit' : 'add'}}</mat-icon>
            </button>
            <div [matMenuTriggerFor]="addLang" class="btn-2">
                <mat-icon>translate</mat-icon>
            </div>

            <mat-menu #addLang="matMenu">
                <button class="text-slate-900 disabled:text-slate-500" mat-menu-item
                    *ngFor="let lang of available_langs; let i = index" [disabled]="lang.id == tabs[i]?.id"
                    (click)="lang.id == tabs[i]?.id ? '' : master.add_lang_tab(tabs, lang, form_investments)">
                    <span class="ml-2"
                        [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.emoji}}</span>
                    <span class="ml-2"
                        [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.name}}</span>
                </button>
            </mat-menu>
        </div>

        <mat-tab-group>
            <mat-tab *ngFor="let tab of tabs; let i = index">
                <ng-template mat-tab-label class="w-full flex gap-x-2">
                    <span>{{tab?.emoji}}</span>
                    <span class="ml-2">{{tab?.name}}</span>
                    <mat-icon class="ml-4" (click)="master.del_lang_tab(tabs, tab.id, form_investments, i)"
                        *ngIf="this.tabs.length > 1 && i !== 0 && tab.id !== 1">close</mat-icon>
                </ng-template>

                <div class="flex flex-col gap-y-6 overflow-x-hidden">

                    <div class="grid gap-x-6 w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'grid-cols-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'grid-cols-2' : 'grid-cols-3'">

                        <div class="title w-full"
                            [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                            Informacion De La Inversión
                        </div>

                        <location [form]="form_investments" *ngIf="i == 0"
                            [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                        </location>

                        <mat-form-field appearance="outline" class="w-full duration-300" *ngIf="i == 0">
                            <mat-label>Monto De Inversión (USD Millions)</mat-label>
                            <input formControlName="total_amount" type="text" matInput>
                            <mat-error>Ingresa un valor válido</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full duration-300" *ngIf="i == 0">
                            <mat-label>Empleos Generados</mat-label>
                            <input formControlName="total_jobs" type="text" matInput>
                            <mat-error>Ingresa un valor válido</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full duration-300" *ngIf="i == 0">
                            <mat-label>Superficie En Construccion</mat-label>
                            <input formControlName="suface_construction" type="text" matInput>
                            <mat-error>Ingresa un valor válido</mat-error>
                        </mat-form-field>

                        <div [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                            formArrayName="description">
                            <div [formGroupName]="i"
                                *ngFor="let item of master.getterA(form_investments.controls['description']).controls; let i = index">
                                <mat-form-field class="w-full" appearance="outline"
                                    *ngIf="item.value.languages_id == tab.id">
                                    <mat-label>Descripción</mat-label>
                                    <textarea formControlName="text" type="text" matInput></textarea>
                                    <mat-error>Ingresa un valor válido</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field class="w-full" appearance="outline"
                            [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                            *ngIf="i == 0">
                            <mat-label>Etiquetas</mat-label>
                            <mat-chip-list #chipList formControlName="categories">
                                <mat-chip *ngFor="let category of form_investments.value.categories?.split(',')"
                                    (removed)="removeCategory(category)">
                                    {{ category }}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip>
                                <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addCategory($event)">
                            </mat-chip-list>
                        </mat-form-field>

                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>