<div class="flex flex-col">
    <form #cc [formGroup]="form" (ngSubmit)="save()" id="company-form" class="bg-white rounded-2xl shadow-lg p-6">
        <div class="flex flex-row gap-2 justify-end">
            <div [matMenuTriggerFor]="addLang" class="btn-1 bg-b2b-2 float-right">
                <icon i="language" c="#0076ef"></icon>
            </div>

            <mat-menu #addLang="matMenu">
                <button class="text-slate-900 disabled:text-slate-500" mat-menu-item
                    *ngFor="let lang of available_langs; let i = index" [disabled]="lang.id == tabs[i]?.id"
                    (click)="lang.id == tabs[i]?.id ? '' : master.add_lang_tab(tabs, lang, form)">
                    <span class="ml-2"
                        [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.emoji}}</span>
                    <span class="ml-2"
                        [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.name}}</span>
                </button>
            </mat-menu>
        </div>

        <mat-menu #addLang="matMenu">
            <button class="text-slate-900 disabled:text-slate-500" mat-menu-item
                *ngFor="let lang of available_langs; let i = index" [disabled]="lang.id == tabs[i]?.id"
                (click)="lang.id == tabs[i]?.id ? '' : master.add_lang_tab(tabs, lang, form)">
                <span class="ml-2"
                    [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.emoji}}</span>
                <span class="ml-2"
                    [ngClass]="lang.id == tabs[i]?.id ? 'opacity-15' : 'opacity-100'">{{lang?.name}}</span>
            </button>
        </mat-menu>

        <mat-tab-group>
            <mat-tab *ngFor="let tab of tabs; let i = index">
                <ng-template mat-tab-label class="w-full flex gap-x-2">
                    <span>{{tab?.emoji}}</span>
                    <span class="ml-2">{{tab?.name}}</span>
                    <icon i="x" class="ml-4" (click)="master.del_lang_tab(tabs, tab.id, form, i)"
                        *ngIf="this.tabs.length > 1 && i !== 0 && tab.id !== 1">close</icon>
                </ng-template>

                <div class="flex flex-col gap-y-6 overflow-x-hidden">

                    <div class="grid gap-x-6 w-full"
                        [ngClass]="cc.offsetWidth <= 640 ? 'grid-cols-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'grid-cols-2' : 'grid-cols-3'">

                        <div class="title w-full"
                            [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                            Informacion De La Inversión
                        </div>

                        <location [form]="form" *ngIf="i == 0"
                            [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                        </location>

                        <mat-form-field appearance="outline" class="w-full duration-300" *ngIf="i == 0">
                            <mat-label>Monto De Inversión (USD Millions)</mat-label>
                            <input formControlName="total_amount" type="text" matInput>
                            <mat-error>Ingresa un valor válido</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full duration-300" *ngIf="i == 0">
                            <mat-label>Empleos Generados</mat-label>
                            <input formControlName="total_jobs" type="text" matInput>
                            <mat-error>Ingresa un valor válido</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full duration-300" *ngIf="i == 0">
                            <mat-label>Superficie En Construccion</mat-label>
                            <input formControlName="suface_construction" type="text" matInput>
                            <mat-error>Ingresa un valor válido</mat-error>
                        </mat-form-field>

                        <div class="mb-6"
                            [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'">
                            <div formArrayName="description"
                                *ngFor="let item of master.getterA(form.controls['description']).controls; let i = index;">
                                <div [formGroupName]="i">
                                    <quill-editor *ngIf="item.value.languages_id == tab.id" [required]="true"
                                        formControlName="text"></quill-editor>
                                </div>
                            </div>
                        </div>

                        <mat-form-field class="w-full" appearance="outline"
                            [ngClass]="cc.offsetWidth <= 640 ? 'col-span-1' : cc.offsetWidth > 640 && cc.offsetWidth < 768 ? 'col-span-2' : 'col-span-3'"
                            *ngIf="i == 0">
                            <mat-label>Etiquetas</mat-label>
                            <mat-chip-list #chipList formControlName="categories">
                                <mat-chip *ngFor="let category of form.value.categories?.split(',')"
                                    (removed)="removeCategory(category)">
                                    {{ category }}
                                    <button matChipRemove>
                                        <icon i="circle-x"></icon>
                                    </button>
                                </mat-chip>
                                <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addCategory($event)">
                            </mat-chip-list>
                        </mat-form-field>

                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>