<ng-container *ngIf="_select.children && _select.children.length > 0">
   <mat-form-field appearance="outline" class="w-full inline-block basis-72 grow max-w-xs shrink md:shrink-0">
      <mat-label>{{ _label }}</mat-label>
      <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onSelectionChange($event, _control)"
         [required]="_rq">
         <input #sch (keyup)="search(sch.value)" (keydown.Space)="$event.stopPropagation()" placeholder="Buscar"
            class="sticky top-0 left-0 right-0 z-20 h-12 w-full bg-bblue border-b-2 [border-image:linear-gradient(310deg,#0076ef,#000259)1] p-3">
         <div class="sticky top-0 left-0 right-0 bg-bblue z-10"></div>
         <div *ngIf="filtered?.length == 0" disabled class="text-slate-500 h-12 p-3">Sin resultados</div>
         <mat-option *ngFor="let category of filtered.children" [value]="category">
            {{ category['ES'] ?? category['EN'] }}
         </mat-option>
      </mat-select>
      <mat-error>Ingresa un valor válido</mat-error>
   </mat-form-field>
   <ng-container *ngIf="selectedCategory && hasChildren(selectedCategory)">
      <recursive-select [select]="selectedCategory.children" [label]="'Subcategoría'" [control]="_control" [rq]="_rq"
         [generation]="_generation + 1" [value]="_value" class="w-full flex gap-x-6"
         (categorySelected)="onCategorySelected($event)"></recursive-select>
   </ng-container>
</ng-container>